{% assign description = pages.contact.description %}
{% assign slug = 'contact' %}
{% assign title = pages.contact.title %}
{% layout 'page' %}
{% block content %}
<article aria-labelledby="intro_title">
	<header class="visually-hidden">
		<h2 id="intro_title">{{ pages.contact.intro.title | i18n }}</h2>
	</header>
	<div class="stack-text">{{ pages.contact.intro.content | markdown }}</div>
</article>
<article aria-labelledby="links_title">
	<header class="visually-hidden">
		<h2 id="links_title">{{ pages.contact.links.title | i18n }}</h2>
	</header>
	<ul class="page__contact__links">
		{% for link in pages.contact.links.items %}
			<li class="page__contact__links__item">
				<span class="flow flow-text">
					{% if link.icon %}
						{{ link.icon | icon -}}
					{%- endif %}
					{{ link.label | i18n -}}
				</span>
				<a class="page__contact__links__anchor" href="{{ link.url }}">
					<span class="page__contact__links__anchor__prefix">{{ link.value }}</span>
					{% if link.suffix %}
						<i class="page__contact__links__suffix">{{ link.suffix | i18n }}</i>
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
</article>
{% endblock %}
