{% assign description = pages.contact.description %}
{% assign slug = 'contact' %}
{% assign title = pages.contact.title %}
{% layout 'page' %}
{% block content %}
<article aria-labelledby="intro_title">
	<header class="visually-hidden">
		<h2 id="intro_title">{{ pages.contact.intro.title | i18n }}</h2>
	</header>
	<div>{{ pages.contact.intro.content | markdown }}</div>
</article>
<hr>
<article aria-labelledby="links_title">
	<header class="visually-hidden">
		<h2 id="links_title">{{ pages.contact.links.title | i18n }}</h2>
	</header>
	<ul>
	{% for link in pages.contact.links.items %}
		<li>
			<span>{% if link.icon %}{{ link.icon | icon }}{% endif %}{{ link.label | i18n }}</span>
			<a href="{{ link.url }}">
				<span>{{ link.value }}</span>
				{% if link.suffix %}<i>{{ link.suffix | i18n }}</i>{% endif %}
			</a>
		</li>
	{% endfor %}
</ul>
</article>
{% endblock %}
