{% assign description = pages.projects.description %}
{% assign slug = 'projects' %}
{% assign title = pages.projects.title %}
{% layout 'page' %}
{% block content %}
<article aria-labelledby="work_title" class="stack">
	<header class="stack">
		<h2 id="work_title">{{ pages.projects.work.title | i18n }}</h2>
		<p>{{ pages.projects.work.description | i18n }}</p>
	</header>
	<ul class="grid grid-large">
		{% for project in pages.projects.work.items %}
			<li class="stack-text">
				<header>
					<h3 class="flow flow-text">
						{{ project.icon | icon -}}
						{{- project.title | i18n }}
					</h3>
				</header>
				<div class="stack-text">{{ project.description | markdown }}</div>
			</li>
		{% endfor %}
	</ul>
</article>
<hr>
<article aria-labelledby="personal_title" class="stack">
	<header class="stack">
		<h2 id="personal_title">{{ pages.projects.personal.title | i18n }}</h2>
		<p>{{ pages.projects.personal.description | i18n }}</p>
	</header>
	<ul class="grid grid-large">
		{% for project in pages.projects.personal.items %}
			<li class="stack-text">
				<header>
					<h3>
						<a class="flow flow-text" href="{{ project.url }}" hreflang="en">
							{{- project.icon | icon -}}
							{{- project.title -}}
						</a>
					</h3>
				</header>
				<div class="stack-text">{{ project.description | markdown }}</div>
			</li>
		{% endfor %}
		<li class="page__projects__personal__suffix">
			{{ pages.projects.personal.suffix | i18n }}
			<a href="https://github.com/oscarpalmer" hreflang="en">GitHub</a>.
		</li>
	</ul>
</article>
{% endblock %}
