<a class="skipper visually-hidden" href="{{ page.url }}#content">{{ misc.skip | i18n }}</a>
<header class="banner shadow-item">
	<a href="{{ pages.home.url | i18n }}" {{ pages.home.url | ariaCurrent }}>{{ meta.author }}</a>
	<nav>
		<ul class="banner__items">
			{% for item in urls.navigation %}
				<li>
					<a href="{{ item.url | i18n }}" {{ item.url | ariaCurrent }}>{{ item.title | i18n }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
