<footer class="footer stack stack-text">
	<p>&copy; 2024, {{ meta.author }}</p>
	<p>
		{{ footer.colophon.prefix | i18n }}
		<a href="{{ pages.about.colophon.url | i18n }}" {{ pages.about.colophon.url | ariaCurrent }}>
			{{- footer.colophon.suffix | i18n -}}</a
		>.
	</p>
	<p>
		{{ footer.language.prefix | i18n }}
		<a href="{{ urls.store[page.url] }}">{{ footer.language.suffix | i18n }}</a>
	</p>
</footer>
